<footer>
  <div class="wrapper">
    <p>
	A site for writing, because &quot;writing is thinking&quot;.<br>
	<b>atom feed:</b> <a href="/blog/atom.xml">atom</a><br>
	<b>github:</b> <a href="https://wcameronbowen.github.io">wcameronbowen</a><br>
	<b>linkedin:</b> <a href="https://linkedin.com/in/wcameronbowen">wcameronbowen</a>
	</p>
	<p>
	  <img src="/images/powered_by_soupault.png">
	</p>
	<!--
	<p>github: <a href="https://wcameronbowen.github.io">wcameronbowen</a></p>
	<p>linkedin: <a href="https://linkedin.com/in/wcameronbowen">wcameronbowen</a></p>
	-->
  </div>
</footer>
